<!--Navbar wird auf jeder Seite included-->
<nav>
	<div class="nav-wrapper">
		<a href="/" class="brand-logo"><img id="logo-img" class="responsive-img" src="/img/logo_druck.png"></a>
		<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			<li><a href="/pages/main.php"><i class="material-icons left">directions</i>Fuhrparkmanagement</a></li>
			<li><a href="/pages/fuhrpark.php"><i class="material-icons left">directions_car</i>Fuhrpark</a></li>
		</ul>
		<ul class="side-nav" id="mobile-demo">
			<li><a href="/pages/main.php"><i class="material-icons">directions</i>Fuhrparkmanagement</a></li>
			<li><a href="/pages/fuhrpark.php"><i class="material-icons">directions_car</i>Fuhrpark</a></li>

		</ul>
	</div>
</nav>