			<!-- panel left -->


			<div data-role="panel" id="leftpanel" data-display="overlay" data-position-fixed="true" >

				<div class='nd2-sidepanel-profile wow fadeInDown'>
					<div class="row">
						<div class='col-xs-4 center-xs'>
							<div class='box'>
								<a onclick="window.location = '/';"><img class="profile-thumbnail" src="/img/logo_druck.png" /></a>
							</div>
						</div>
						<div class='col-xs-8'>
							<div class='box profile-text'>
								<strong>Fuhrparkmanagement</strong>
							</div>
						</div>
					</div>
				</div>

				<ul data-role="listview" data-inset="false">
					<li data-name="view-module"><a href="/pages/main.php"><i class="zmdi zmdi-view-module zmd-fw"></i> Fuhrparkmanagement</a></li>
					<li data-name="chart-donut"><a href=""><i class="zmdi zmdi-chart-donut zmd-fw"></i> Fuhrpark</a></li>
					</ul>
			</div>
			<!-- /panel left -->
